@media (max-width: 1120px) {
  .team_section .team_container .box.b-3 {
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
.header_section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  body {
    padding-top: 80px;
  }
  .hero_area {
    height: auto;
  }

  .navbar-brand {
    margin-left: 0;
  }

  .slider_section {
    padding: 45px 0 175px 0;
  }

  .footer_bg {
    padding-top: 125px;
  }

  /* 
  .quote_btn-container {
    display: none;
  } */
  .quote_btn-container {
    flex-direction: column;
    align-items: center;
  }

  .quote_btn-container a {
    display: none;
  }

  .custom_nav-container .nav_search-btn {
    background-position: center;
  }
}

@media (max-width: 768px) {

  .header_section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;    /* Überschrift kleiner */
  }

  span {
    font-size: 20px;
    font-weight: 750;
    color: $purpel;
    text-transform: uppercase;
  }
    
  }
  .slider_section{
    padding: 100px 20px 175px 20px;
  }

  body {
    padding-top: 130px;
  }
  .about_section .row {
    flex-direction: column-reverse;
  }

  .about_section .detail-box {
    margin-top: 45px;
  }

  .about_section .img-box {
    margin-top: -115px;
  }

  .work_section .img-box {
    margin-top: 25px;
  }

  .work_section .btn-box {
    justify-content: center;
    margin-top: 35px;
  }

  .team_section .team_container .box.b-2 {
    margin-top: 40px;
  }
  
  .team_section .team_container .box.b-3 {
    margin-top: 40px;
}

  .team_section .team_container .box.b-4 {
    margin-top: 40px;
}

  .team_section .team_container .box.b-5 {
    margin-top: 40px;
}

  .client_section {
    text-align: center;
  }

  .client_section .heading_container {
    align-items: center;
  }

  .footer_bg {
    padding-top: 75px;
    flex-direction: column;
  }


  .info_section .row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
  }

  .info_section .info_form .social_box {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .slider_section .detail_box h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 420px) {
  .slider_section .detail_box h1 {
    font-size: 3rem;
  }
}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
  .container .service_container .container-fluid{
    max-width: 1170px;
  }
}

