body, p, span, a, div {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Antonio', sans-serif;
}

.layout_padding {
 padding-bottom: 45px;
}

.layout_padding2 {
  padding: 45px 0;
}


/*Termin Buchung*/
.layout_padding3 {
   padding: 60px 20px;
}

/*Contact Form*/
.layout_padding4 {
   padding: 60px 20px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  color: #832eff;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #832eff; /*PunktNeben*/
  top: 50%;
  right: -30px;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*header section*/
.sub_page .footer_bg {
  background: none;
  background-color: #1a1a1a;
  padding-top: 45px;
}

.header_section .container-fluid {
  padding-right: 60px;
  padding-left: 1px;
}

.header_section .nav_container {
  margin: 0 auto;
}


/* Fixierter Header */
.header_section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white; /* wichtig, damit er nicht transparent ist */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* optional für sichtbaren Effekt */
}

/* Abstand nach unten, damit der Content nicht unter dem Header liegt */
body {
  padding-top: 80px; /* Passe den Wert je nach Header-Höhe an */
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 3px 15px;
  margin: 10px 15px;
  color: #1a1a1a;
  background-color: #ff4ff3;
  text-align: center;
  border-radius: 20px;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link, .custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  background-color: #832eff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #832eff;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  margin-left: 45px;
  margin-top: 45px;
}

.navbar-brand span {
  font-size: 30px;
  font-weight: 750;
  color: #832eff;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #832eff;
  margin: 7px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center; /* Vertikale Ausrichtung */
}

.quote_btn-container a {
  color: #832eff;
  margin-right: 65px;
}

.quote_btn-container img {
  width: 15px;
  margin: 0 25px;
}

/*end header section*/


/* slider section */
.slider_section {
  background-color: #f6f0ff;
  padding: 20px 60px;
  text-align: center;
}

.slider_section .heading_container {
   -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
   padding-top: 80px;
   padding-bottom: 40px;

}


slider_section .swiper-slide {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease;
}

slider_section .swiper-slide:hover {
  transform: scale(1.03);
}

 slider_section .swiper-slide img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

slider_section .swiper-slide p {
  font-style: italic;
  margin-bottom: 10px;
}

.slider_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #ff4ff3;
  color: #832eff;
  border-radius: 30px;
}

.slider_section .btn-box a:hover {
  background-color: #832eff;
}

.slider_section .swiper-pagination {
  margin-bottom: 40px;  /* Abstand nach unten, damit Paginierung nicht direkt am Rand klebt */
}

.slider_section .btn-box{
  margin-top: 40px;      /* Abstand nach oben zur Paginierung */
  margin-bottom: 40px;
}
.slider_section .btn-box .btn-1{
  margin-top: 40px;      /* Abstand nach oben zur Paginierung */
  margin-bottom: 40px;
}

/*end slider_section */


.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box p {
  margin-top: 25px;
}

.about_section {
  background-color: #f6f0ff;
    padding: 20px 60px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color:  #ff4ff3;
  color: #1a1a1a;
  border-radius: 30px;
  margin: 25px 0 45px 0;
}

.about_section .detail-box a:hover {
  background-color: #832eff;
}


.service_section {
  background-position: bottom;
  color: #832eff;
  text-align: center;
  background-color: #fff0f5;
    padding: 20px 60px;
}

.service_section .heading_container {
 -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service_section .service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
  
.service_section .service_container .box {
  margin: 35px 10px;
  min-width: 200px;
  width: 250px;
  flex: 1 1 calc(50% - 20px);
}

.service_section .service_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
}

.service_section .service_container .box .img-box img {
  width: 75px;
}

.service_section .service_container .box .detail-box {
  margin-top: 15px;
}

.service_section .service_container .box .detail-box h5 {
  font-weight: bold;
  position: relative;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color: #ff4ff3;
  color: #832eff;
  border-radius: 30px;
}

.service_section .btn-box a:hover {
  background-color: #832eff;
}


/*2 service_section */
.service_section {
  background-color: #f6f0ff;
  padding: 60px 20px;
}

.service_section .heading_container {
  margin-bottom: 45px;
  align-items: center;
}

.service_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .detail_container .box {
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.service_section .detail_container .box .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .detail_container .box .top-box .icon-box {
  width: 50px;
  margin-right: 15px;
}

.service_section .detail_container .box .top-box .icon-box img {
  width: 100%;
}

.service_section .detail_container .box .top-box h5 {
  font-weight: 600;
  margin: 0;
  color: #832eff;
}

.service_section .detail_container .box .bottom-box {
  margin-top: 10px;
}

.service_section .img-box img {
  max-width: 100%;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #ff4ff3;
  color: #1a1a1a;
  border-radius: 30px;
}

.service_section .btn-box a:hover {
  background-color: #832eff;
}

/*end service section 2 */

.work_section {
  background-color: #f6f0ff;
    padding: 20px 60px;
}

.work_section .heading_container {
  margin-bottom: 45px;
  align-items: center;
}

.work_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_section .detail_container .box {
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.work_section .detail_container .box .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_section .detail_container .box .top-box .icon-box {
  width: 50px;
  margin-right: 15px;
}

.work_section .detail_container .box .top-box .icon-box img {
  width: 100%;
}

.work_section .detail_container .box .top-box h5 {
  font-weight: 600;
  margin: 0;
  color: #832eff;
}

.work_section .detail_container .box .bottom-box {
  margin-top: 10px;
}

.work_section .img-box img {
  max-width: 100%;
}

.work_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work_section .btn-box a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #ff4ff3;
  color: #1a1a1a;
  border-radius: 30px;
}

.work_section .btn-box a:hover {
  background-color: #832eff;
}

/* 5 team section */
.team_section {
  background-color: #f6f0ff;
   padding: 20px 60px;
  text-align: center;
}

.team_section .heading_container {
   -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
   padding-top: 60px;
   padding-bottom: 40px;

}

team_section .swiper-slide {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease;
}

team_section .swiper-slide:hover {
  transform: scale(1.03);
}

 team_section .swiper-slide img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}

team_section .swiper-slide p {
  font-style: italic;
  margin-bottom: 10px;
}
/* ende team section */



/* client section */
.client_section {
  background-color: #f6f0ff;
   padding: 20px 60px;
  text-align: center;
}

.client_section .heading_container {
   -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: center;
   padding-top: 60px;
   padding-bottom: 40px;

}


client_section .swiper-slide {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s ease;
}

client_section .swiper-slide:hover {
  transform: scale(1.03);
}

 client_section .swiper-slide img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

client_section .swiper-slide p {
  font-style: italic;
  margin-bottom: 10px;
}
/* ende client section */


/* contact section */

.contact_section {
  background-color: #f6f0ff;
    padding: 20px 60px;
}
    
.contact_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
     padding-top: 30px;
}

.contact_section form .form-control {
  border: none;
  background-color: #d9acfc;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 30px;
  padding-left: 20px;
  height: 45px;
  margin: 5px 0;
}

.contact_section .loading {
  display: none; 
} /* Wichtig: CSS für #loading */

.contact_section .error {
  color: red;
  display:none;
}

.contact_section .success {
  background-color: #d4edda; 
  color: #155724; 
  padding: 15px; 
  text-align: center; 
  font-weight: bold;
  display:none;
}

.contact_section button {
  display: inline-block;
  padding: 8px 35px;
  background-color: #ff4ff3;
  color: #1a1a1a;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  margin-top: 15px;
  font-size: 15px;
}

.contact_section button:hover {
  background-color: #832eff;
}

/* ende contact section */


/*Termin Buchung*/
.buchung_section {
  color: #832eff;
  background-color: #f6f0ff;
}

.buchung_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
.buchung_section .row button,
.buchung_section .row .gc-scheduling-button {
  /* Beispiel-Styles */
  display: inline-block;
  padding: 10px 35px;
  background-color:  #ff4ff3;
  color: #1a1a1a;
  border-radius: 30px;
  margin: 25px 0 45px 0;
}
.buchung_section .row button:hover,
.buchung_section .row .gc-scheduling-button:hover {
  background: #832eff;
}

.info_section p {
  color: #000000;
}

.info_section .info_logo h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: #832eff;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_contact .img-box {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .info_contact p {
  margin: 0;
}

.info_section .info_contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.info_section .info_contact h4 {
 color: #832eff;
}
.info_section .info_contact a p {
  color: #832eff;
}

.info_section .info_contact a:hover p {
  color: #832eff;
}

.info_section .info_contact a img {
  height: auto;
  margin-right: 12px;
}

.info_section .info_links h4 {
 color: #832eff;
}

.info_section .info_links ul {
  padding-left: 15px;
}

.info_section .info_links ul li {
  list-style-type: none;
  margin: 5px 0;
}

.info_section .info_links ul li a {
  color: #000000;
  position: relative;
}

.info_section .info_links ul li a::before {
  display: none;
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #832eff;
}

.info_section .info_links ul li a:hover {
  color: #832eff;
}

.info_section .info_links ul li.active a {
  color: #ff4ff3;
}

.info_section .info_links ul li.active a::before {
  display: block;
}


.info_section .info_links h4 {
      color: $purpel;
}

.info_section .info_form form h4 {
      color: $purpel;
}
.info_section .info_form form {
  margin-top: 20px;
}

.info_section .info_form form input {
  border: 1px solid #1a1a1a;
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 7px 10px;
  color: #832eff;
}

.info_section .info_form form input::-webkit-input-placeholder {
  color: #1a1a1a;
}

.info_section .info_form form input:-ms-input-placeholder {
  color: #1a1a1a;
}

.info_section .info_form form input::-ms-input-placeholder {
  color: #1a1a1a;
}

.info_section .info_form form input::placeholder {
  color: #1a1a1a;
}

.info_section .info_form form button {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ff4ff3;
  color: #832eff;
  border-radius: 5px;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  width: 100%;
}

.info_section .info_form form button:hover {
  background-color: #832eff;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 25px;
}

/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_section p {
  color: #832eff;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.footer_section a {
  color: #832eff;
}
/*# sourceMappingURL=style.css.map */



